@tailwind base;
@tailwind components;
@tailwind utilities;

/* Retro Scrollbar */
::-webkit-scrollbar {
  height: 8px;
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #0ff, #00f);
  border-radius: 4px;
  border: 2px solid #000;
  box-shadow: 0 0 6px rgba(0, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #0ff, #00f);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}